{
  "extends": ["@nuxt/eslint-config"],
  "rules": {
    // Vuejs
    "vue/multi-word-component-names": 0,
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 5
        }
      }
    ]
  }
}
